input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(31, 11, 184);
    border-radius: 4px;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  .form-align{
            background-color:rgb(124, 173, 194);
            width: 50%;
            height: 680px;
            display: block;
            margin: 50px auto;
            padding: 10px;
            border-radius: 15px  ;
            -webkit-border-radius: 15px  ;
            -moz-border-radius: 15px  ;
            -ms-border-radius: 15px  ;
            -o-border-radius: 15px  ;
}
.heading{
  color:#EFC61E;
  text-align: center;
}
.center{
  margin-left: 40%;
  padding: 10px 27px 10px 27px;
  background-color:rgb(124, 173, 194);
  color:#161615;
  font-size: 20px;
 

}

/*dark light*/
.same-theme{
  width: 50px;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 5px;
}

.dark-icon{
  align-items: center;
  margin-left: 8px; 
  background-color:  rgb(255, 251, 251);     
}
.light-icon{
  margin-left: 14px;
}
.light-icon:hover{
  background-color: rgb(55, 55, 55);
  transition: 2s;

}
.theme-dark {
  background-color: rgb(55, 55, 55);
  color: white;
}
.theme-light {
  background-color: rgb(255, 254, 251);
  color: black;
}
