.pos{
   text-align: center;
}

.pos1{
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.pos3{
 
        text-align: center;
        color: #EFC61E;

  
}
.align-center{
 margin-left: 20px;
 -ms-flex-align: center;
}
.text-space{
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 40px;
}

/* gallary2 */
img {
    border-radius: 50%;
  }

/* footer*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer {
    background-color: black;
    color: #fefefe;
    position:unset;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
  }
  
  .footer .content a {
    text-decoration: none;
    color: #fefefe;
  }
  
  .footer .content a:hover {
    border-bottom: 1px solid #cdc300;
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
  }
  
  footer {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  footer hr {
    margin: 2rem 0;
  }
  
  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position: unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }
  
  /*dark light*/
  .same-theme{
  width: 50px;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 5px;
}

.dark-icon{
  align-items: center;
  margin-left: 8px; 
  background-color:  rgb(255, 251, 251);     
}
.light-icon{
  margin-left: 14px;
}
.light-icon:hover{
  background-color: rgb(55, 55, 55);
  transition: 2s;

}
.theme-dark {
  background-color: rgb(55, 55, 55);
  color: white;
}
.theme-light {
  background-color: rgb(255, 254, 251);
  color: black;
}
